.container {
    width: 800px;
    margin: 0 auto;
}

section {
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.graphic {
    position: relative;
}

.graphic__prose {
    width: 200px;
}

.graphic__vis {
    position: absolute;
    top: 0;
    margin-left: 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: 100vh;
}

.graphic__vis.is-fixed {
    position: fixed;
}

.graphic__vis.is-bottom {
    top: auto;
    bottom: 0;
}

.graphic__prose .trigger {
    height: 80vh;
    padding-top: 10vh;
}

#bubbleChart {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/******** Chart styles *******/
.country circle {
    fill: #1696d2;
    transition-property: fill-opacity;
    transition-duration: 2s;
    fill-opacity: 1;
}

.country circle.hidden {
    transition-property: fill-opacity;
    transition-duration: 2s;
    fill-opacity: 0;
}

.countryNameLabel {
    text-anchor: middle;
    transition-property: fill-opacity;
    transition-duration: 2s;
    fill-opacity: 1;
}

.countryNameLabel.hidden {
    transition-property: fill-opacity;
    transition-duration: 2s;
    fill-opacity: 0;
}


.emissionsPC path {
    stroke: #d2d2d2;
    fill: none;
    stroke-opacity: 0.5;
    stroke-width: 2;
}

.emissionsPC.selected path {
    stroke: steelblue;
    stroke-opacity: 1;
}