body {
    font-family: 'Lato';
    background-color: #1a1717;
    color: #d5d5d4;
}

p {
    font-size: 16px;
}

text {
    font-family: 'Lato';
    fill: #d5d5d4;
    font-size: 12px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

section {
    min-height: 100vh;
}

section.slide {
    height: 100vh;
    box-sizing: border-box;
    padding: 40px 0;
}
img {
    max-width: 100%;
    margin: 20px 0;
}

.graphic {
    position: relative;
}

.graphic__prose {
    width: 200px;
}

.graphic__vis {
    position: absolute;
    top: 0;
    margin-left: 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: 100vh;
}

.graphic__vis.is-fixed {
    position: fixed;
}

.graphic__vis.is-bottom {
    top: auto;
    bottom: 0;
}

.graphic__prose .trigger {
    height: 80vh;
    padding-top: 10vh;
}

#bubbleChart {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/******** Chart styles *******/
.axis path,
.axis line {
    stroke: #d5d5d4;
}

.lineLabel {
    text-anchor: end;
}

.country circle {
    fill: #adabac;
    transition-property: fill-opacity;
    transition-duration: 2s;
    fill-opacity: 1;
}

.country circle.hidden {
    transition-property: fill-opacity;
    transition-duration: 2s;
    fill-opacity: 0;
}

.countryNameLabel {
    fill: #1a1717;
    text-anchor: middle;
    transition-property: fill-opacity;
    transition-duration: 2s;
    fill-opacity: 1;
}

.countryNameLabel.hidden {
    transition-property: fill-opacity;
    transition-duration: 2s;
    fill-opacity: 0;
}

.line {
    stroke-width: 2.5;
}

.emissionsPC path {
    stroke: #d2d2d2;
    fill: none;
    stroke-opacity: 0.5;
    stroke-width: 2;
}

.emissionsPC.selected path {
    stroke: #e88e2d;
    stroke-opacity: 1;
    stroke-width: 4;
}


/*********** Legend styles *************/
.legend {
    display: inline-block;
    float: left;
    padding: 15px 0px 15px 40px;
    width: 100%;
    margin: 15px 0;
}

.legendRow {
    width: 20%;
    float: left;
    margin-right: 10px;
}

.legendText {
    font-family: Lato;
    font-size: 13px;
    float: left;
    width: 90%;
}

.legendSquare {
    /*display: inline-block;*/
    height: 0;
    width: 0;
    margin: 3px 5px 0px 0px;
    float: left;
}