.container {
    width: 800px;
    margin: 0 auto;
}

#intro {
    height: 100vh;
}

.graphic {
    position: relative;
}

.graphic__prose {
    width: 200px;
}

.graphic__vis {
    position: absolute;
    top: 0;
    margin-left: 200px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: 100vh;
}

.graphic__vis.is-fixed {
    position: fixed;
}

.graphic__vis.is-bottom {
    top: auto;
    bottom: 0;
}

.graphic__prose .trigger {
    height: 80vh;
    padding-top: 10vh;
}

#bubbleChart {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.country circle {
    fill: #1696d2;
    fill-opacity: 1;
}

.country circle.hidden {
    fill-opacity: 0;
}

.countryNameLabel {
    text-anchor: middle;
    fill-opacity: 1;
}

.countryNameLabel.hidden {
    fill-opacity: 0;
}